{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Editar Postagem:</h4>
        <hr>
        <form action="/admin/postagens/edit" method="post">
            <input type="hidden" name="id" value="{{Postagem._id}}">

            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" placeholder="titulo da postagem" value="{{Postagem.titulo}}" class="form-control" required>

            <label for="slug">Slug:</label>
            <input type="text" name="slug" placeholder="slug da postagem" value="{{Postagem.slug}}" class="form-control" required>

            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" placeholder="descricao da postagem" value="{{Postagem.descricao}}" class="form-control" required>

            <label for="conteudo">Conteúdo: </label>
            <textarea name="conteudo" placeholder="conteudo da postagem" class="form-control" required>{{Postagem.conteudo}}</textarea>

            <label for="categoria">Categoria:</label>
            <select name="categoria" class="form-control form-select" required>
                {{#each Categorias}}
                <option value="{{_id}}" {{#if categoriaSelecionada}}{{#ifEquals _id
                    categoriaSelecionada}}selected{{/ifEquals}}{{/if}}>{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria cadastrada</option>
                {{/each}}
            </select>

            <hr>
            <button type="submit" class="btn btn-success">Editar Postagem</button>
        </form>
    </div>